<div class="container mt-4">
  <h1 class="text-center mb-2">Quarters</h1>

  <div class="d-flex align-items-center">

    <button class="btn btn-outline-primary me-2" (click)="prev()">◀</button>

    <div class="flex-grow-1">

      <ng-container *ngIf="!loading; else loadingState">
        <ng-container *ngIf="quarters.length > 0; else emptyState">

          <div class="row">
            <div class="col-md-4" *ngFor="let q of visible">
              <a [routerLink]="['/quarters', q.id]" class="text-decoration-none">
                <app-card
                  [title]="q.description"
                  [subtitle]="q.sprintCount + ' sprints'"
                  [startDate]="q.startDate | date:'shortDate'"
                  [endDate]="q.endDate | date:'shortDate'">
                </app-card>
              </a>
            </div>
          </div>

        </ng-container>
      </ng-container>

      <ng-template #emptyState>
        <div class="text-center text-muted">
          <app-notfoundfallback [title]="'Quarter'"></app-notfoundfallback>
        </div>
      </ng-template>

      <ng-template #loadingState>
        <div class="text-center">
          <span class="spinner-border"></span>
        </div>
      </ng-template>

    </div>
    <button class="btn btn-outline-primary ms-2" (click)="next()">▶</button>

  </div>
</div>

  <app-dynamicformcomponent
  title="Novo Quarter"
  [fields]="fields"
  [submitFn]="createQuarter">
</app-dynamicformcomponent>