<div *ngIf="coatend" class="container mt-4">
  <div *ngIf="coatend" class="container">
    <h2 class="text-center">{{ coatend.description }}</h2>
    <p class="text-center">
      <strong>Número:</strong> {{ coatend.coatendNumber }}
    </p>
  </div>

  <hr>

  <!-- EDIT -->
  <app-dynamic-edit-component
    title="Editar Coatend"
    [fields]="editFields"
    [data]="coatendToUpdate"
    [updateFn]="updateCoatend">
  </app-dynamic-edit-component>

  <!-- MOVE -->
  <app-move-to
    title="Mover Coatend para outra Sprint"
    [options]="sprintsOptions"
    [moveFn]="moveCoatend">
  </app-move-to>

  <!-- DELETE -->
  <div class="mt-3">
    <app-delete-button
      label="Excluir Coatend"
      [deleteFn]="deleteCoatend">
    </app-delete-button>
  </div>

<button
  class="btn btn-outline-primary mt-3"
  [routerLink]="['/coatends', coatend.id, 'timeline']">
  Ver Timeline 📊
</button>