<div class="container mt-4" *ngIf="quarter">
  <h1 class="text-center mb-2">{{ description }}</h1>

  <div class="d-flex align-items-center">

    <div class="flex-grow-1">
      <app-carousel-navigator
        (prev)="prev()"
        (next)="next()"
        [disablePrev]="startIndex === 0"
        [disableNext]="startIndex + 3 >= (sprints.length || 0)"
      >
        <ng-container *ngIf="sprints.length > 0; else emptyState">

          <div class="row">
            <div class="col-md-4" *ngFor="let sprint of visibleSprints">
              <a [routerLink]="['/sprints', sprint.id]" class="text-decoration-none">
                <app-card
                  [title]="sprint.description"
                  [subtitle]="sprint.coatendsCount ? sprint.coatendsCount + ' coatends' : 'Sem coatends'"
                  [startDate]="sprint.startDate | date:'shortDate'"
                  [endDate]="sprint.endDate | date:'shortDate'">
                </app-card>
              </a>
      
            </div>
          </div>
        </ng-container>
      </app-carousel-navigator>
      
      <ng-template #emptyState>
        <div class="text-center text-muted">
          <app-notfoundfallback [title]="'Sprint'"></app-notfoundfallback>
        </div>
      </ng-template>

      <app-datecomponent
        [startDate]="quarter.startDate | date:'shortDate'",
        [endDate]="quarter.endDate | date:'shortDate'"
      ></app-datecomponent>
    </div>

  </div>
</div>