<div class="row justify-content-end">
  <div class="card mt-4 shadow-sm col-lg-3">
    
    <div class="row card-title-box">
      <h5 class="card-title text-center">{{ title }}</h5>       
    </div>

    <div class="card-body">
      <form (ngSubmit)="submit()">

        <div *ngFor="let field of fields" class="mb-3">
          <label class="form-label">{{ field.label }}</label>

          <input
            class="form-control"
            [(ngModel)]="formData[field.name]"
            [name]="field.name"
            [type]="field.type"
          />
        </div>

        <button class="btn btn-primary w-100">Salvar</button>

      </form>

    </div>
  </div>
</div>
